<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENV</key>
	<string>$(APP_ENV)</string>
	<key>NSCameraUsageDescription</key>
	<string>ZomPart uses the camera to scan VIN numbers, license plates, and vehicle parts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ZomPart needs access to your photos to select images of vehicle parts.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SBNetworkingHTTPLogEnabled</key>
	<string>$(SBNetworkingHTTPLogEnabled)</string>
	<key>SUPABASE_API_SCHEME</key>
	<string>$(SUPABASE_API_SCHEME)</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
</dict>
</plist>
